/* BASE STYLES */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden{
    display: none;
}
/* CONTAINER STYLES */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container{
      max-width: 1158px;
      padding: 0 15px;
  }  
}
/* HEADER STYLES */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
/* TEAM STYLES */
.soc-icon {
    fill: #f4f4fd;
}

/* FOOTER STYLES */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 16px;
} 

.footer-logo-first .logo-second-part {
    color: #f4f4fd;
}

.footer-text {
    max-width: 288px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-media-list {
    display: flex;
    gap: 16px;
}

.footer-media-item {
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link:hover,
.footer-media-link:focus {
    background-color: #31D0AA;
}

.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.subscribe-input::placeholder {
    color: #fff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .footer-main-wrapper{
        text-align: center;
        margin-bottom: 72px;
    }
    .media-text,
    .subscribe-text{
        text-align: center;
    }
    .footer-media-list{
        justify-content: center;
    }
    .subscribe-button{
        margin: 16px auto 0 auto;
    }
    .footer-media-wrapper{
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .footer-text {
        max-width: 264px;
    }
    .subscribe-input{
        width: 264px;
    }
    .subscribe-form{
        display: flex;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container{
        max-width: 552px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }
    .footer-container{
        flex-wrap: nowrap;
        gap: unset;
        align-items: baseline;
    }
    .footer-main-wrapper {
        margin-right: 120px;
    }
    .subscribe-wrapper {
        margin-left: auto;
        width: 453px;
    }
}

