/* BASE STYLES */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER STYLES */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container{
      max-width: 1158px;
      padding: 0 15px;
  }  
}

/* HEADER STYLES */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-first {
    padding: 16px 0;
    display: block;
}

.header-logo-first .logo-second-part {
    color: #2e2f42;
}

.nav-list,
.contacts-info{
    display: none;
}

.burger-btn{
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo-first {
        padding: 24px 0;
        margin-right: 120px;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }
    
    .nav-link.current::after {
        content: "";
        background-color: #404bbf;
        position: absolute;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
    }
    
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current {
        color: #404BBF
    }

    .contacts-info{
        font-style: normal;
        display: block;
    }
    
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px){
    .header-logo-first {
        margin-right: 76px;
    }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-info {
    font-style: normal;
    display: block;
    margin-bottom: 48px;
}

.mobile-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-list{
    display: flex;
    gap: 40px;
}

.mobile-menu-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.mobile-menu-icon-link:hover,
.mobile-menu-icon-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404BBF
}

@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
}

/* HERO STYLES */
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: none;
    min-width: 169px;
    min-height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding: 112px 0;
        max-width: 768px;
    }
    .main-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
        max-width: 1440px;
    }
    .main-title {
        margin-bottom: 48px;
    }
}

/* BENEFITS STYLES */
.benefits-section {
    padding: 96px 0;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-icons-box {
    display: none;
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
    .benefits-title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .benefits-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .benefits-section {
        padding: 120px 0;
    }
    .benefits-list{
        flex-wrap: nowrap;
    }
    .benefits-item {
        width: calc((100% - 72px) / 4);
    }
    .benefits-icons-box {
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .benefits-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .benefits-text {
        font-weight: 400;
    }
}

/* TEAM STYLES */
.team-section {
    background-color: #f4f4fd;;
    padding: 96px 0;
}

.team-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-wrapper {
    padding: 32px 0px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}

.soc-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-section {
        padding: 120px 0;
    }
    .team-list {
        flex-wrap: nowrap;
    }
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* PORTFOLIO STYLES */
.portfolio-section {
    padding: 96px 0;
}

.portfolio-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-wrapper {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-pict {
    width: 288px;
    height: 280px
}

@media screen and (min-width: 768px) {
    .portfolio-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .portfolio-item{
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (max-width: 1157px) {
    .portfolio-item {
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    .overlay-text {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding: 120px 0;
    }
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    .portfolio-card-box {
        position: relative;
        overflow: hidden;
    }
    .overlay-text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
    }
    .portfolio-item:hover .overlay-text {
            transform: translateY(0);
    }
}

/* FOOTER STYLES */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 16px;
} 

.footer-logo-first .logo-second-part {
    color: #f4f4fd;
}

.footer-text {
    max-width: 288px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-media-list {
    display: flex;
    gap: 16px;
}

.footer-media-item {
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link:hover,
.footer-media-link:focus {
    background-color: #31D0AA;
}

.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.subscribe-input::placeholder {
    color: #fff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .footer-main-wrapper{
        text-align: center;
        margin-bottom: 72px;
    }
    .media-text,
    .subscribe-text{
        text-align: center;
    }
    .footer-media-list{
        justify-content: center;
    }
    .footer-media-wrapper{
        margin-bottom: 72px;
    }
    .subscribe-button {
        margin: 16px auto 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .footer-text {
        max-width: 264px;
    }
    .subscribe-input{
        width: 264px;
    }
    .subscribe-form{
        display: flex;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container{
        padding-left: 108px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }
    .footer-container{
        flex-wrap: nowrap;
        gap: unset;
        align-items: baseline;
    }
    .footer-main-wrapper {
        margin-right: 120px;
    }
    .subscribe-wrapper {
        margin-left: auto;
        width: 453px;
    }
}

/* modal-styles */
.modal-backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FCFCFC;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-backdrop:not(.is-open) modal-window {
    transform: translate(-50%, -100%) scale(1.5);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus .modal-close-icon {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 34px;
    background-color: transparent;
    outline: transparent;
}

.modal-form-icon {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
}

.modal-form-area-wrapper {
    margin-bottom: 16px;
}

.modal-form-textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-check-box {
    margin-bottom: 24px;
}

.modal-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-label-first-part {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked+.modal-checkbox-label .modal-label-first-part {
    border: none;
    background-color: #404bbf;
    fill: #F4F4FD;
}

.modal-check-link {
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
}

@media screen and (max-width: 767px) {
    .modal-checkbox-label{
        display: flex;
        align-items: center;
    }
    .modal-label-first-part{
        flex-shrink: 0;
    }
}

@media screen and (min-width: 768px) {
    .modal-window {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .modal-form-input {
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-input:focus+.modal-form-icon {
        fill: #4d5ae5;
    }
    .modal-form-textarea {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-input:focus,
    .modal-form-textarea:focus {
        border-color: #4d5ae5;
    }


}